/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Custom styles for toy metaboxes. */
fieldset.toy-main-metabox #toy_description, 
fieldset.toy-main-metabox #toy_material, 
fieldset.toy-main-metabox #toy_dimensions {
	display: block;
	margin: 12px 0px 0px;
	height: 4em;
	width: 100%;
}
fieldset.toy-side-metabox #toy_stock {
	width: 155px;
}

.read {
	color: #7a0;
}
.not-read {
	color: #F30;
}